body {
  text-align: center;
  color: black;
  background-color: #5395a7;
  margin-top: 50px;
}

.iconsize{
  height: 50px;
  width: 50px;
}

h1{
  font-size: 75px;
  font-family: arial;
}

#onlyfanstext{
  font-size: 30px;
}

.linkbutton{
  border: 10px none;
  border-radius: 100px;
  padding: 20px;
  background-color: #9bfff4;
  margin-top: 27px;
  height: 128px;
  width: calc(90%);
  max-width: 950px;
  font-size: 75px;
  color: black;
  font-family: arial;
  text-decoration: none;
  transition: 0.2s;
}

.linkbutton:hover{
  background-color: #82E8BF;
  margin-top: 25px;
  height: 130px;
  width: calc(91%);
  max-width: 956px;
}

.round {
border-radius: 100%;
}

.footertext{
  font-family: arial;
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-top: 50px;
}

#snapchatqrcode{
  width: calc(60%);
  height: calc(60%);
}
